.header {
    /* padding-top: 32px; */
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;      
    }
    &__navigation{
        width: 708px;
        padding-top: 15px;
        display: none;
        &__active{
            display: block;
        }
    }

    &__navigationList{
        list-style-type: none;
        display: flex;
        justify-content: space-between;  
        align-items: center;
        padding: 0;
    }
    
    

}