.industry{
    padding-top: 50px;
    min-height: 442px;
    padding-bottom: 50px;
    &__title{
        color: var(--Txt, #464646);
        font-family: Gilroy-1;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__list{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    &__item{
        margin-bottom: 20px;

    }
    &__button{
        border: 2px solid var(--Txt, #464646);
        padding: 11px 16px;
        color: var(--Txt, #464646);
        margin-bottom: 20px;
        font-family: Gilroy-3;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        &_black{
            background: var(--Txt, #464646);
            color: var(--White, #FFF);
        }
        &_none{
            display: none;
            &_1920{
                display: none;
            }
        }
        /* &:nth-child(1){
            margin-left: 0;
        }
        &:nth-child(7){
            margin-left: 0;
        }
        &:nth-child(3){
            margin-right: 40px;
        }
        &:nth-child(4){
            margin-left: 0;
        } */
    }
    &__filters{
        color: var(--bckgrnd-black, #1A1A1A);
        font-family: Gilroy-1;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        display: block;
    }
    
}