.industry{
    padding-top: 50px;
    min-height: 442px;
    &__title{
        color: var(--Txt, #464646);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 24px */
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__list{
        list-style-type: none;
    }
    
}