.main{
    color: #FFFFFF;
    background: url('../../img/bgc.jpg') center center/cover no-repeat;
    min-height: 426px;
    padding: 80px 45px 160px 60px;
    
    h1{
        color: #FFF;
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 600;
        line-height: 130%; /* 31.2px */
        text-transform: uppercase;
        width: 325px; 
        position: relative;
        &::before{
            content: '';
            position: absolute;
            display: block;
            width: 5px;
            height: 186px;
            background-color: #EB6329;
            left: -10px;          
        }
    }
    
}