.main{
    color: #FFFFFF;
    background: url('../../img/bgc.jpg') center center/cover no-repeat;
    min-height: 426px;
    padding: 80px 45px 160px 60px;
    
    h1{
        color: #FFF;
        font-family: Gilroy-3;
        font-size: 1.5rem;
        line-height: 130%; 
        text-transform: uppercase;
        width: 325px; 
        position: relative;
        font-style: normal;
        &::before{
            content: '';
            position: absolute;
            display: block;
            width: 5px;
            height: 100%;
            background-color: #EB6329;
            left: -10px;          
        }
    }
    
}